*{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
    font-family: 'Catamaran', sans-serif;
    background: #192f44;
}

p {
    font-family: 'Catamaran', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #ccc;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Lato', sans-serif;
 text-transform: uppercase;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
/*    padding: 15px 10px;*/
/*    background: #fff;*/
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
/*    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);*/
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ----- Sidebar Srtyling----- */

#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    z-index: 999;
    background: rgba(25,47,68,0.9);
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    right: 0;
}

#dismiss {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background: #f9cc41;
    /*background: #e55920;*/  /*ORA*/
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    -webkit-transition: all 0.3s; /*google chrome i think?*/
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

      @media (min-width: 1200px) {
      #dismiss {
          width: 100px;
          height: 100px;
          line-height: 100px; } }
    @media (max-width: 575px) {
      #dismiss {
          width: 50px;
          height: 50px;
          line-height: 50px;
      }
    }

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .spacer {
    padding: 60px;
}

#sidebar ul.components {
  padding: 60px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar .getaquote {
    background: #f9cc41;
    color: #192f44;
}

#sidebar ul li a:hover {
    color: #f9cc41;
/*    background: #fff;*/
}

#sidebar .getaquote:hover {
  background: #192f44;
}


#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #f9cc41;
/*    background: #6d7fcc;*/ /*sidebar active color*/
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* -- SIDEBAR BUTTON SELECTOR -- */
#sidebarCollapse { 
  border-radius: 0;
  height: 70px;
  width: 70px;
  background: #f9cc41;
  border: none;
  color: #000;
}
      @media (min-width: 1200px) {
      #sidebarCollapse {
        width: 100px;
        height: 100px; }
      }
    @media (max-width: 575px) {
      #sidebarCollapse {
        width: 50px;
        height: 50px;
      }
    }

#sidebarCollapse.fixed-top {
  left:auto;
}

#navButton {
  position: absolute;
  z-index: 22;
}


#carouselExampleIndicators {
  z-index: 0;
}

.navbar-brand {
  position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
  padding: 0;
    box-shadow: 0px 5px 10px 0px rgba(153, 153, 153, 0.2); }

 .navbar-brand img {
    width: 70px;
    height: 70px; 
  }

    @media (min-width: 1200px) {
      .navbar-brand img{
        width: 100px;
        height: 100px; }
      }
    @media (max-width: 575px) {
      .navbar-brand img {
        width: 50px;
        height: 50px;
      }
    }





/*  CAROUSEL  IMAGE HEIGHT*/

.carousel-item img {
   height: 60vh; 
} 
  @media (min-width: 1200px) {
      .carousel-item img {
        height: 100vh; } }
    @media (max-width: 575px) {
      .carousel-item {

        height: auto;
      }
    }


.carousel-content {
  position: absolute;
  width: 100%;
  bottom: 125px;
  left: 50%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);

  transform: translateX(-50%);
  max-width: 400px;
  padding: 35px 20px;
  background: rgba(38,37,51,0.8);
}
    @media (min-width: 1200px) {
      .carousel-content {
        margin-left: 340px;
          padding: 50px 30px; } }
    @media (max-width: 575px) {
      .carousel-content {
        bottom: 60px;
      }
    }





.carousel-caption {
  bottom: 35%;
}

#land-btn {
  font-size: 2em;
  font-weight: 400;
  border-width: 3px;
  font-weight: 600;
  color: #192F44;
}

#land-btn:hover {
  background: rgba(25,47,68,0.5);
  color: #f9cc41;
}

    .carousel-item.land {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#carou1 {
  background: url('../images/carou1.jpg');
  background-repeat: no-repeat;
}


#carou2 {
  background: url('../images/carou2.jpg');
  background-repeat: no-repeat;
}

#carou3 {
  background: url('../images/carou3.jpg');
  background-repeat: no-repeat;
}



/*MIGHT REMOVE AFTER THIS LINE*/
/* Slow-motion Zoom Container */
.img-hover-zoom--slowmo img {
  transform-origin: 50% 65%;
  transition: transform 5s, filter 3s ease-in-out;
  filter: brightness(150%);
}

/* The Transformation */
.img-hover-zoom--slowmo:hover img {
  filter: brightness(100%);
  transform: scale(3);
}
/*MIGHT REMOVE BEFORE THIS LINE*/




/* NOT IN USE */
.about__img__date {
    display: inline-block;
    position: absolute;
    bottom: 11%;
    left: 13%;
    background: #f9cc41;
    color: #000000;
    padding: .9rem 1.2rem 1rem 1.2rem;
    transition: all .4s;
}

.about__img__date p {
    margin-bottom: 0;
    font-size: 0.75rem;
    color: #000;
}
/* NOT IN USE*/



.overview_single {
  padding: 20px 30px;
  background: rgba(255, 255, 255, 0.1);
  transition: all .4s; }

.overview-icon {
    margin-right: 15px; }

.overview-icon i,
    .overview-icon span {
      font-size: 2.625rem;
      color: #f9cc41; }

.overview_single .media-body h3 {
    font-size: 32px;
    color: #fff;
    font-weight: 500;
    margin-bottom: .2rem; }

.overview_single .media-body p {
    color: #fff;
    margin-bottom: 0; }

.overview_single:hover {
    background: #f9cc41;
    color: #262533; }

.overview_single:hover h3 {
      color: #262533; }

.overview_single:hover .overview-icon i,
.overview_single:hover h3,
.overview_single:hover p
{
      color: #192f44; }


/* SECTION CLASS - OUR SPECIALTY */
.our-specialty .specialty-bg-img1 {
  background-image: url('../images/specialty-bg-img1.jpeg');
  background-size: 100%; 
}

.our-specialty .specialty-bg-img2 {
  background-image: url('../images/specialty-bg-img2.jpg');
  background-size: 100%; 
}

.our-specialty .specialty-bg-img3 {
  background-image: url('../images/specialty-bg-img3.jpg');
  background-size: 100%; 
}

.our-specialty .specialty-bg-img4 {
  background-image: url('../images/specialty-bg-img4.jpg');
  background-size: 100%; 
}


/*THIS FOR BACKGROUND HOVER*/
.half-sm:hover .text, .half-sm:focus .text {
  background: #f9cc41 !important;
  color: #192f44;
}

/*THIS ONE FOR TEXT HOVER*/
/*.half-sm:hover .text p, .half-sm:focus .text p {
  color: #192f44;
}*/

/*THIS ONE FOR TEXT*/
.half-sm .text p, .half-sm .text p {
  color: #192f44;
}




.lets-build-bg {
  background: url('../images/letsbuild1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}




.tips-bg {
  background: #f9cc41;
  padding: 40px 0; }
  .tips-bg .section-intro__subtitle {
    margin-bottom: 20px;
    color: #262533; }
  .tips-bg p {
    margin-bottom: 0;
    color: #262533; }
.tips .btn:hover {
  background: transparent;
  color: #262533; }
 .tips .btn {
  border-radius: 0;
  background: #192f44;
  color: #f9cc41;
 }






#footer-bg {
  background: url("../images/bg3.jpg") left center no-repeat;
}




/*-- FOOTERRRR --*/

.footer{
  background: #152F4F;
    background: rgba(0,0,0,0.6);
  color:white; }

  
  .footer .links ul{list-style-type: none;}

    .links li a{
      color: white;
      transition: color .2s;}

      .links li a:hover{
        text-decoration:none;
        color:#4180CB;
        }
    
    /* Cant remember what this is for*/
  
/*  .about-company{
    i{font-size: 25px;}
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
  } 
  .location{
    i{font-size: 18px;}
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);} 

}*/

/* Section margins*/

.section-mt {
  margin-top: 100px;
}

.hero-anim {
  height: 100vh;
  width: auto;
}

.hero-anim .container-fluid {
  width: 100vw;
}

.pic1 {
  background: url('http://lorempixel.com/400/400');
  height: 100%;
  width: 100%;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
/*    padding: 20px;*/
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}





/* ---------------------------------------------------
    ABOUT STYLESSSSSSSZZESDSSDSAFDZ
----------------------------------------------------- */


.hero-image {
  padding: 200px 0 155px 0;
}

.hero-image.about-bg {
  background: url("../images/bg2.jpg") left center no-repeat;
}

.about-header {
  color: #fff;
  background: rgba(25,47,68,0.5);
}

section.about h2 {
  color: #fff;
}

section.about img {
  filter: grayscale(50%);
}

.leader-row {
  background: #f9cc41;
}

/*.leaders {
  background-color: #f9cc41;  
  padding: 3em;
}*/

.image {
  height: 100%;
  background-position: center;
}

.leaders img {
  border-radius: 50%;
  width: 80%;
}






/*THE TEAM START -- COPIED MUST OVERHAUL*/

.course{
  text-align:center;
  color:green;
}
.course1{
  text-align:center;
  font-family:Bradley Hand ITC;
}

.cours2{
  overflow: hidden;
  position:relative;
  margin-bottom:50px;
  
}

.cours2:hover .cours3 {
  opacity:1;
  top:0px;
  transition:1s;
}

.cours2:hover .cours4{
  opacity:1;
  bottom:0;
  transition:1s;
}
.cours2:hover .hover{
  transform:scale(1.3);
  transition:1s;
}
.cours7{
  border:1px solid rgb(73,183,43);
  background-color:rgb(73,183,43);
  color:white;
  font-size:18px;
  padding:10px 15px;
  border-radius:5px 20px;
}
.cours7:hover{
  background-color:transparent;
  color:rgb(73,183,43);
  border:1px solid rgb(73,183,43);
  transition:1s;
}

.cou:hover{
  background-color:transparent !important;
  color:rgb(237,78,110) !important;
  border:1px solid rgb(237,78,110) !important;
}

/*THE TEAM END*/

#the-team img{
  width:100%;
  height:auto;
  border:1px solid transparent;
  transition:1s;
}




/*-------------------------------------
      PROJECT STYLES (page no longer part of website)
--------------------------------------*/



#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #192f44; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:after {
  display: block;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}



/* CARDS OF PROJECTS  */
.post-entry, .post-entry .text {
    border-radius: 4px;
    border-top: none !important;
}
.post-entry {
    position: relative;
    overflow: hidden;
    border: 1px solid #e6e6e6;
  }

.post-entry:hover .image img, .post-entry:active .image img, .post-entry:focus .image img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.post-entry .image img {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}




/* CONTACTATCATE CONTACT CONTACT*/
.contact-info__icon {
  margin-right: 20px; }
  .contact-info__icon i,
  .contact-info__icon span {
    font-size: 20px;
    color: #f9cc41; }
.contact-info h3 {
  font-size: 1rem;
  font-weight: 300;
  color: #fff; }
  .contact-info h3 a {
    color: #fff; }

#btn-contact {
  background: #f9cc41;
}

#btn-contact:hover {
  background: yellow;
}




/*CONTACT END*/



/*SMALL SCREENS*/
    @media (max-width: 575.98px) {
      .lets-build h3 {
        font-size: 2em;
      }
      .lets-build p {
        font-size: 0.9em;
      }

      .carousel-item.land {
        height: 66vh;
        }

        .carousel-caption h2{
          font-size:1em;
        }
        .carousel-caption p{
          font-size:0.5em;
        }

        #carou1 {
          background-image: url('../images/carou1-sm.jpg');
          height: 66vh;
        }

        #carou2 {
          background-image: url('../images/carou2-sm.jpg');
        }

        #carou3 {
          background-image: url('../images/carou3-sm.jpg');
        }

    }


    @media (min-width: 576px) and (max-width: 1199px) {
      .lets-build h3 {
        font-size: 2.5em;
      }

      .lets-build p {
        font-size: 0.9em;
      }
    }



    @media (min-width: 1200px) {
      .lets-build h3 {
        font-size: 3em;
      }
    }
